/*
Copyright © 2017 Niklas Sombert <niklas@ytvwld.de>
This work is free. You can redistribute it and/or modify it under the
terms of the Do What The Fuck You Want To Public License, Version 2,
as published by Sam Hocevar. See the COPYING file for more details.
*/

*
{
	margin: 0;
}

html, body, #main
{
	height: 100%;
}

body
{
	text-align:center;
}

#main
{
	margin: 0 auto -25px; /* -> footer .push */
}

#headline
{
	padding: 1%;
}

#reason-container
{
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#next-reason-button
{
	margin: 10%;
	padding: 2.5%;
}

#reason
{
	padding: 1%;
}

footer
{
	height: 25px;  /*  -> #main */
	position: relative;
	margin: 0 auto;
}