*
{
	margin: 0;
}

html, body, #main
{
	height: 100%;
}

body
{
	text-align:center;
}

#main
{
	margin: 0 auto -25px; /* -> footer .push */
}

#headline
{
	padding: 1%;
}

#reason-container
{
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#next-reason-button
{
	margin: 10%;
	padding: 1%;
}

footer
{
	height: 25px;  /*  -> #main */
	position: relative;
	margin: 0 auto;
}